version: "3"

services:
    rif-identity-ipfs-testnet:
        platform: linux/x86_64
        image: ipfs/kubo
        network_mode: "host"

    rif-identity-datavault-testnet:
        image: rif-identity-datavault:${DOCKER_TAG:-latest}
        build:
            context: ./services/data-vault
            dockerfile: Dockerfile.dataVault
        env_file: ./services/data-vault/.env
        volumes:
            - "/var/db/rif-identity/data-vault:/app/db"
            - "/var/log/rif-identity/data-vault:/app/log"
        ports:
            - "5102:5102"
        networks:
            - rif-identity-services

    rif-identity-convey-testnet:
        platform: linux/x86_64
        image: rif-identity-convey:${DOCKER_TAG:-latest}
        build:
            context: ./services/convey
            dockerfile: Dockerfile.convey
        env_file: ./services/convey/.env
        volumes:
            - "/var/log/rif-identity/convey:/app/log"
        ports:
            - "5104:5104"
        networks:
            - rif-identity-services

    rif-identity-issuer-back-testnet:
        image: rif-identity-back:${DOCKER_TAG:-latest}
        build:
            context: ./services/issuer
            dockerfile: Dockerfile.issuerBackend
        env_file: ./services/issuer/.env
        volumes:
            - "/var/db/rif-identity/issuer-server:/app/db"
            - "/var/log/rif-identity/issuer-server:/app/log"
        ports:
            - "5100:5100"
            - "5101:5101"
        networks:
            - rif-identity-services

networks:
    rif-identity-services:
        driver: bridge